/* Complete the challenge by writing CSS below */

.content {
    transition: color, background;
    transition-duration: .4s, .5s;
}

.invert:checked ~ .content {
  color: #fff;
  background: #373737;
}
