/* Complete the challenge by writing CSS below */

header {
    font-size: 1.8em; /* 28.8*/
  }
  
.title {
    font-size: 0.9em; /* 26 */
}
  
h1 {
    font-size: 3.125em; /* 90 */
}

h2 {
    font-size: 3.312em;
}

h3 {
    font-size: 1.25em;
}