/* Complete the challenge by writing CSS below */
/* Use the pseudo-class selector that targets default, unvisited links. Set their color value to orange. */
/* Next, create a pseudo-class selector that targets all visited links. Add a color property and set the value to steelblue. */

a:link {
    color: orange;
}

a:visited {
    color: steelblue;
}