/* Complete the challenge by writing CSS below */

/* Let's use pseudo-elements to create a progress bar from a single element.
 First, in the top .progbar selector, add the pseudo-element that will insert content after the element. */

 /* In the same rule, add the property that lets us insert content into an element.
  The value should be an empty set of quotes. */

  /* Next, in the second .progbar selector, add the pseudo-element that will insert content before the element.
   Don't forget to write the content declaration on line 13. */

   /* Finally, create a new rule that will insert a pseudo-element after an a element.
 As the content value, define a CSS function that will insert an href attribute's value as content. */

.progbar::after {
  content: "";
  display: block;
  width: 50%;
  height: 100%;
  border-radius: inherit;
  background-color: #5ece7f;
}

.progbar::before {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  position: absolute;
  left: 49%;
  top: -9px;
  background-color: #7dd898;
}

.progbar {
  height: 6px;
  border-radius: 3px;
  background: #d6d7d9;
  position: relative;
  margin-bottom: 3.875em;
}

a::after {
    content: attr(href);
}