/* Complete the challenge by writing CSS below */

/* Float .footer-nav to the left edge of the footer and .logo to the right edge. */

/* Next, display the list items inside .footer-nav side by side with a float. */

/* The floats inside the <footer> caused its height to collapse.
   Give the <footer> element the class that will clear all floats inside it. */

.logo {
    float: right;
}

.footer-nav {
    float: left;
}

.footer-nav li {
    display: inline-block;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}