/* Complete the challenge by writing CSS below */
/* Create a new rule that targets the class 'wildlife'. Set the bear.jpg image, located in the img folder, as the background image. */
/* Next, define the background property and value that prevents a background image from repeating in any direction. */
/* Next, position the background image in the center of the '.wildlife' element. */
/* Add a background-size property. Set a value that fills the entire background of the container while maintaining the width and height proportions. */

.wildlife {
    background-image: url(img/bear.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}