/* Complete the challenge by writing CSS below */

/* Let's display equal -- but flexible -- widths for the columns.
 Create a new rule that targets the columns. Then, set the columns to evenly expand and display on one line, with an initial width of 300px. */

/* The columns should break to multiple lines when they're narrower than 300px.
Give .row the flexbox property and value that will make it a multi-line flex container. */

.row {
  display: flex;
  flex-wrap: wrap;
}

.column {
  flex-direction: column;
  width: 300px;
}
